/* Fonts start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/* Fonts end */

:root {
    --effect-color: #7B68EE;
    --white-text: #fff;
    --p-dark: #111;
}

/* nav starts here  */
/* TODO: Nav */
.section--hero.toggle__active {
    right: 300px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.section--hero header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-text);
}

.header--logo {
    text-transform: uppercase;
    cursor: pointer;
}

.header--toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url('./menu-button.svg');
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
}

.header--toggle.toggle__active {
    background: url('./close-button.svg');
    width: 25px;
    height: 25px;
    background-size: 25px;
}
/* nav ends here  */

/* hero-box starts here */
.section--hero {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--p-dark);
    color: var(--white-text);
    z-index: 2;
    transition: 1s;
}

.section--hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.section--hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--effect-color);
    mix-blend-mode: overlay;
}

.section--hero__content {
    position: absolute;
    left: 0;
    padding-left: 100px;
    z-index: 3;

}

.section--hero__content h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.section--hero__content h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 30px;
    max-width: 650px;
}
.section--hero__content p {
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 650px;
}

.section--hero__btn a {
    display: inline-block;
    font-size: 1em;
    background: var(--white-text);
    padding: 10px 30px;
    text-decoration: none;
    color: var(--p-dark);
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.section--hero__btn a:hover {
    letter-spacing: 6px;
    color: var(--effect-color);
}

/* Icons start here */
.section--hero__icons {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.section--hero__icons li {
    list-style: none;
}

.section--hero__icons li a {
    display: inline-block;
    fill: var(--white-text);
    margin-right: 20px;
    height: 30px;
    width: 30px;
    transition: 0.5s;
}

.section--hero__icons li a:hover {
    transform: scale(1) translateY(-10px);
    fill: var(--effect-color);
}
/* Icons end here */

/* scroll down animation starts here */
.section--hero__scroll--down lottie-player {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

/* Menu starts here */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: var(--p-dark);
    line-height: 2;
}
.menu ul li a:hover {
    color: var(--effect-color);
}
/* menu ends here */

@media(max-width: 798px) {
    .section--hero__content, .section--hero header {
       padding: 40px; 
    }
    
    .section--hero__content h2 {
        font-size: 3em;
    }

    .section--hero__content h3 {
        font-size: 2em;
    }
    .section--hero__content p {
        font-size: 1em;
    }
    .section--hero__icons {
        margin-left: -3.5em;
    }
}

/* hero-box ends here */
/* -------------------------------------------------------------------------------- */
/* global section starts here */
.content--wrap section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section:nth-child(2n+0) {
    background-color: var(--effect-color);
}
/* global section ends here */
/* -------------------------------------------------------------------------------- */
/* info section starts here */
.section--info {
    height: 100vh;
    width: 100%;
    display: flex;
}

.section--info__physical {
    background: green;
    width: 50%;
}

.section--info__spiritual {
    background: grey;
    width: 50%;
}
/* info section ends here */

/* link section starts here */
.section--link {
    display: grid;
    grid-template-areas: "left right-top"
                         "left right-bottom";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
.section--link__about {
    background: var(--effect-color);
    grid-area: left;
}

.section--link__physical {
    background: green;
    grid-area: right-top;
}

.section--link__spiritual {
    background: var(--white-text);
    grid-area: right-bottom;
}
/* link section ends here */

/* footer starts here  */
footer .footer--section {
    height: 100px;
    width: 100%;
    background: var(--p-dark);
}
/* footer ends here  */